<!DOCTYPE html>

<head>
  <title><%= appName %></title>
</head>

<body margin-top: 10%;">
  <center style="margin: 10%;">
    <h1><%= appName %></h1>
    <h1 font-size:100px;"><%= errorStatus %></h1>
    <h2><%= errorMessage %></h2>
    <pre style="text-align: left;"><%= errorDescription %></pre>
  </center>

  <body>
</html>